body {
    font-family: sans-serif;
    font-size: 18px;
}
#page {
    background-color: lightgray;
    width: 90%;
    top: 0px;
    margin: 0px auto;
    position: relative;
    border: 2px solid black;
}
#header {
    display: flex;
    background-color: #42bff5; 
    color: black;
    width: 42%;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -2px;
    margin-left: -2px;
    margin-top: -2px;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 2px solid black;
    text-align: center;
}
#nav a {
    text-decoration: none;
    display: flex;
    background-color: #69e0d6;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 13%;
    height: 49px;
    border: 2px solid black;
    margin-top: -2px;
    margin-right: -2px;
    float: left;
}
#nav a:hover {
    background-color: #353e96;
    color: white;
}
#home-button a {
    text-decoration: none;
    display: flex;
    background-color: #69e0d6;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 13%;
    height: 100px;
    border: 2px solid black;
    margin-top: -2px;
    margin-right: -2px;
    float: left;
}
#home-button a:hover {
    background-color: #353e96;
    color: white;
}
#content {
    clear: both;
    background-color: lightgray;
}
/*.title {
    display: flex;
    color: #252525;
    position: absolute;
    width: 1204px;
    height: 225px;
    top: 73px;
    left: 0px;
    margin-left: -2px;
    margin-right: 0px;
    font-size: 150px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.event {
    font-size: 100px;
}
.long {
    display: block;
    text-align: center;
}
#back a {
    text-decoration: none;
    position: absolute;
    display: block;
    background-color: #6f00a1;
    color: white;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 5px;
    top: 265px;
    left: 1138px;
    border: 2px solid black;
}
#back a:hover {
    background-color: #d67bff;
    color: black;
}*/